<form action="~/Home/totalitems_" method="post">
    <label for="items">start date</label>

    <input type="date" name="d1" />
    <br />
    <label for="items1">end date</label>

    <input type="date" name="d2" />
    <br />

    <button type="submit">submit</button>
</form>